<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NETWORK_CREDENTIALS_USERNAME" value="DEV\zzqaadmin" />
    <add key="NETWORK_CREDENTIALS_PASSWORD" value="as24test" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AeroWizard" publicKeyToken="915e74f5d64b8f37" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.22514" newVersion="1.2.6.22514" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>